
.toast {
	position: fixed;
	bottom: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	padding: 25px 25px;
	border-radius: 8px;
	font-size: 1rem;
    width: auto;
    justify-content: center;
    text-align: center;
	opacity: 0;
	pointer-events: none;
    font-family: 'Poppins';
	transition: opacity 0.3s, transform 0.3s;
	z-index: 9999;
}

.toast.show {
	opacity: 1;
	transform: translateX(-50%) translateY(0);
}