.btn-icon {
    width: 75px;
    height: 75px;
}

.menu-game-name {
    position: absolute;
    top: 10%;
    font-size: 4rem;
    width: 100%;
    text-align: center;
    font-family: 'Permanent Marker', cursive;

    display: flex;
    justify-content: center;
    gap: 5px;
}

.menu-game-name span {
    display: inline-block;
    animation: jump 4s infinite ease-in-out;
    animation-delay: calc(0.05s * var(--i));
}

@keyframes jump {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(30px);
    }

    30% {
        transform: translateX(30px);
    }

    40% {
        transform: translateX(-30px);
    }

    60% {
        transform: translateX(-30px);
    }

    70% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
    }
}

.menu-info-score {
    position: absolute;
    top: 20%;
    font-size: 15px;
    width: 100%;
    text-align: center;
}

.menu-info-highscore {
    position: absolute;
    top: 25%;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.menu-btn {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    width: 75px;
    height: auto;
}

#menu {
    position: absolute;
    width: 100%;
    height: 100%;
}

.start-btn {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 10%;
    z-index: 10;
}

.skins-btn {
    left: 1%;
    top: 30%;
}

.effects-btn {
    left: 1%;
    top: 40%;
}

.how-to-play-btn {
    right: 1%;
    top: 50%;
}

.exit-btn {
    top: 5%;
}

.options-btn {
    right: 1%;
    top: 30%;
}

.highscore-btn {
    right: 1%;
    top: 40%;
}

.small-btn {
    font-size: 12px;
}

.small-icon {
    width: 35px;
    height: 35px;
}

.login-btn,
.logout-btn {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.above-icon {
    position: absolute;
    bottom: 30%;
    width: 100%;
    font-size: 16px;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}