#how-to-play-panel, #highscores-panel, #options-panel{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    overflow-y: auto;
}

#content-panel, #highscores-content-panel, #options-content-panel, #how-to-play-content-panel{
    position: absolute;
    width: 80%;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    padding: 5%;
    z-index: 30;
    border-radius: 10px;
    overflow-y: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.close-how-to-play, .close-highscores, .close-options{
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 35;
    background: none;
    border: none;
    cursor: pointer;
}

.popup-header-info {
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
}
.popup-content{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}