#how-to-play-panel, #highscores-panel, #options-panel{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    overflow-y: auto;
}

#how-to-play-content-panel, #highscores-content-panel, #options-content-panel{
    position: absolute;
    width: 80%;
    height: 40%;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    padding: 10%;
    z-index: 30;
    border-radius: 10px;
    overflow-y: auto;
    overflow: hidden;
}

.close-how-to-play, .close-highscores, .close-options{
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 35;
    background: none;
    border: none;
    cursor: pointer;
}

#highscores-content-panel{
    height: 70%;
}