#how-to-play-panel,
#highscores-panel,
#options-panel,
#pause-panel,
#gameover-panel,
#reward-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    overflow-y: auto;
    pointer-events: auto;
}

#content-panel,
#highscores-content-panel,
#options-content-panel,
#how-to-play-content-panel,
#pause-content-panel,
#gameover-content-panel,
#reward-content-panel {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    padding: 5%;
    z-index: 30;
    border-radius: 10px;
    overflow-y: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.close-how-to-play,
.close-highscores,
.close-options,
.close-pause-btn,
.close-skin-customization-btn,
.close-effect-customization-btn {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 35;
    background: none;
    border: none;
    cursor: pointer;
    pointer-events: auto;
}

.close-pause-btn{
        top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-header-info {
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
}

.small-header {
    font-size: 1rem;
}

.popup-content {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}